body {
background-color: #000000;
font-family: verdana;
font-size: 10pt;
color: #AEAEAE;
font-weight: normal;
margin: 10px;
scrollbar-base-color: #AEAEAE;
scrollbar-arrow-color: #ff9900;
}
blockquote {
font-weight: normal;
}
div {
font-weight: normal;
}
p {
font-size: ;
font-weight: normal;
}
span {
font-weight: normal;
}
td {
font-weight: normal;
}
h1 {
color: #ff9900;
}
h2 {
color: #ff9900;
}
h3 {
color: #ff9900;
}
h4 {
color: #ff9900;
}
ol {
font-weight: normal;
}
ul {
font-weight: normal;
}
input {
font-weight: normal;
}
select {
font-weight: normal;
}
textarea {
font-weight: normal;
}
hr {
color: #AEAEAE;
height: 1px;
width: 800px;
}
a:active, a:link, a:visited {
color: #AEAEAE;
font-weight: normal;
text-decoration: none;
}
a:hover {
color: #ff9900;
font-weight: normal;
text-decoration: none;
}
div#outer {
    width: 1200px;
    background-color:#000000;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 680px;
}

div#nav {
    width: 170px;
    height: 680px;
    padding: 0px;
    margin-top: 0px;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: 0px;
}

div#main {
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
    width: 780px;
    height: 680px;
    float: center;
    text-align: center;
    margin-right: auto;
}